@font-face {
  font-family: 'icomoon-ford';
  src:  url('fonts/icomoon-ford.eot?gv99ib');
  src:  url('fonts/icomoon-ford.eot?gv99ib#iefix') format('embedded-opentype'),
    url('fonts/icomoon-ford.ttf?gv99ib') format('truetype'),
    url('fonts/icomoon-ford.woff?gv99ib') format('woff'),
    url('fonts/icomoon-ford.svg?gv99ib#icomoon-ford') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-ford' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
